@import url(http://fonts.googleapis.com/css?family=Open+Sans+Condensed:300);
@import url(http://fonts.googleapis.com/css?family=Oswald);

p {
    padding: 0;
    margin: 0 0 10px 0;
}

body {
    padding: 0;
    margin: 0;
    font-family: Arial;
    background: #eee;
}

#main {
    display: block;
    width: 100%;
    height: 30px;
    background: #f6f6f6;
    margin-bottom: 22px;
    border: 1px solid #d3d3d3;
}

.section {
    margin: 0 auto 12px auto;
    width: 488px;
    height: 133px;
    border: 1px solid #f7f7f7;
    background: #fff;
    display:block;
    box-shadow: 0px 2px 2px 0px rgba(50, 50, 50, 0.31);
    position: relative;
    padding: 15px 0 0 15px;
}

.title-post-home {
    color: #666;
    text-decoration: none;
}


.category-post {
    margin-right: 3px;
    height: 20px;
    padding: 0 10px;
    line-height: 20px;
    font-size: 12px;
    font-weight: bold;
    color: #fff;
    text-align: center;
    background: #666;
    border-radius: 2px;
    position: absolute;
    bottom: 4px;
    right: 0;
}

.post-javascript {
    background-color: rgb(250, 29, 0);
}

.post-css {
    background-color: rgb(14, 83, 167);
}

.post-html {
    background-color: rgb(14, 83, 167);
}



/* Page Posts */

.page-post {
    width:900px;
    height: auto;
    padding: 20px;
    color: #666;
}

.title-post {
    display: block;
    font-size: 22px;
    color: #fa1d00;
    font-family: 'Oswald', sans-serif;
    padding-bottom: 7px;
    border-bottom: 1px solid #fa1d00;
    text-transform: uppercase;
}

.title-post span {
    float: right;
    font-size: 18px;
    padding-top: 10px;
}

.topic {
    display: block;
    padding: 22px 0;
    color: #fa1d00;
    font-size: 18px;
    font-family: 'Open Sans Condensed', sans-serif;
    text-transform: uppercase;
}

.references-post {
    color: #666;
}