body {
    padding: 0;
    margin: 0;
    font-family: Arial;
    background: #eee;
}

#main {
    display: block;
    width: 100%;
    height: 218px;
    background: #f6f6f6;
    margin-bottom: 22px;
}

.section {
    margin: 0 auto 9px auto;
    width: 503px;
    height: 148px;
    border: 1px solid #f7f7f7;
    background: #fff;
    display:block;
}